<div class="popup">
    <div class="popup-content">
        <h2>{{ (foodInfo.id === null) ? 'Add Food Details' : 'Edit Food Details' }}</h2>
        <form (ngSubmit)="submitForm()">

            <div class="foodImage">
                <span>Food Image: </span>
                <input type="text" placeholder="Plz Enter a Food Image" name="foodImage" id="foodImage"
                    [(ngModel)]="imageMenu" required>
            </div>

            <div class="foodName">
                <span>Food Name: </span>
                <input type="text" placeholder="Plz Enter a Food Name" name="foodName" id="foodName" [(ngModel)]="name"
                    required>
            </div>

            <div class="foodPrice">
                <span>Food Price: </span>
                <input type="text" placeholder="Plz Enter a Food Price" name="foodPrice" id="foodPrice"
                    [(ngModel)]="price" required>
            </div>

            <div class="foodDescription">
                <span>Descriptions: </span>
                <input type="text" placeholder="Plz Enter a Food Descriptions" name="foodDescription"
                    id="foodDescription" [(ngModel)]="description" required>
            </div>

            <div class="foodIngredient">
                <span>Ingredients: </span>
                <input type="text" placeholder="Plz Enter a Food Ingredients" name="foodIngredient" id="foodIngredient"
                    [(ngModel)]="ingredient" required>
            </div>

            <button type="submit">{{(foodInfo.id !== null) ? 'Edit' : 'Add' }}</button>
        </form>
        <button class="closePopup" (click)="closePopup(true)">Close</button>
    </div>
</div>