<div class="popup">
    <div class="popup-content">
        <h2>{{ (isEditMode) ? 'Edit User Details' : 'Add User Details' }}</h2>
        <form (ngSubmit)="submitForm()">

            <div class="userName">
                <span>User Name: </span>
                <input type="text" placeholder="Plz Enter a User Name" name="userName" id="userName"
                    [(ngModel)]="userName" required>
            </div>

            <div class="userPassword">
                <span>User Password: </span>
                <input type="text" placeholder="Plz Enter a User Password" name="userPassword" id="userPassword"
                    [(ngModel)]="userPassword" required>
            </div>

            <div class="userFullName">
                <span>User Full Name: </span>
                <input type="text" placeholder="Plz Enter a User Full Name" name="userFullName" id="userFullName"
                    [(ngModel)]="userFullName" required>
            </div>

            <div class="userAddress">
                <span>User Address: </span>
                <input type="text" placeholder="Plz Enter a User Address" name="userAddress" id="userAddress"
                    [(ngModel)]="userAddress" required>
            </div>

            <div class="userPhone">
                <span>User Phone: </span>
                <input type="text" placeholder="Plz Enter a User Phone" name="userPhone" id="userPhone"
                    [(ngModel)]="userPhone" required>
            </div>

            
            <button type="submit">{{(isEditMode) ? 'Edit' : 'Add' }}</button>
        </form>
        <button class="closePopup" (click)="closePopup()">Close</button>
    </div>
</div>
