<div class="user-container">
    <div class="user-container-nav-bar">
        <div class="nav-bar-tittles">
            <div class="nav-bar-tittle">User Management</div>
            <div class="two-color-line"></div>
        </div>
        <div class="nav-bar-details">
            <div class="nav-bar-add-user" (click)="openPopup()">
                <app-popup-add-user *ngIf="showPopup" (close)="closePopup($event)" [userInfo]="userInfoParrent">
                </app-popup-add-user>
                <div class="add-user-image"><img src="./../../assets/plus.png" alt="add-user-image"></div>
                <div class="add-user-details">
                    ADD USER
                </div>
            </div>
            <div class="nav-bar-search-user">
                <input type="text" placeholder="Search User Name" name="search" [(ngModel)]="searchUser">
                <button (click)="filteredUsers(searchUser)">
                    <i class="fa fa-search" style="font-size: 22px;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="user-container-details">
        <div class="user-container-details-nav-bar-header">
            <div class="user-container-detail-header">
                <span class="user-id">#</span>
                <span class="user-fullname">Full Name</span>
                <span class="user-address">Address</span>
                <span class="user-phone">Phone</span>
                <span class="user-action">Action</span>
            </div>
        </div>
        <div class="color-line"></div>
        <div class="user-container-details-nav-bar">
            <div class="user-container-detail" *ngFor="let user of users, let i = index">
                <span class="user-id">{{ i + 1 }}</span>
                <span class="user-fullname">{{ user.userFullName }}</span>
                <span class="user-address">{{ user.userAddress }}</span>
                <span class="user-phone">{{ user.userPhone }}</span>
                <div class="user-action">
                    <button (click)="openEditPopup(user)"> <i class="fa fa-edit"
                            style="font-size: 22px; color: green;"></i>
                    </button>
                    <button (click)="deleteUser(user.id)"> <i class="fa fa-trash"
                            style="font-size: 22px; color: red;"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div>