<div class="dashboard-container">
    <div class="left-container">
        <div class="left-container-nav-bar">
            <div class="task-lists">Task list</div>
            <div class="list-icon"><fa-icon [icon]="faBarsStaggered"></fa-icon></div>
        </div>
        <div class="nav-bar-tabs">
            <div class="new" (click)="onNewClick()" [className]="new == true?'new new-active':'new'">New</div>
            <div class="delivery" (click)="onDeliveryClick()"
                [className]="delivery == true?'delivery delivery-active':'delivery'">Delivery</div>
            <div class="completed" (click)="onCompletedClick()"
                [className]="completed == true?'completed completed-active':'completed'">Completed</div>
        </div>
        <div class="left-container-data-box">
            <ng-container *ngIf="new">
                <div class="left-container-new-box" *ngFor="let transaction of transactions; let i = index">
                    <div class="new-box" (click)="selectTransaction(transaction)"
                        *ngIf="transaction.status === 'NewOrder'">
                        <div class="left-container-box-info">
                            <div class="left-container-info-name">
                                <span>Task #000{{ i + 1 }}</span>
                            </div>
                            <div class="left-container-info-details">
                                <div class="left-container-info-details-icon">
                                    <fa-icon [icon]="faClock"></fa-icon>
                                </div>
                                <div class="left-container-info-details-status">{{ transaction.status }}</div>
                            </div>
                        </div>
                        <div class="left-container-box-price">
                            <span>{{ transaction.totalPrice | currency:'VND' }}</span>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="delivery">
                <div class="left-container-delivery-box" *ngFor="let transaction of transactions; let i = index">
                    <div class="delivery-box" (click)="selectTransaction(transaction)"
                        *ngIf="transaction.status === 'delivery'">
                        <div class="left-container-box-info">
                            <div class="left-container-info-name">
                                <span>Task #000{{ i + 1 }}</span>
                            </div>
                            <div class="left-container-info-details">
                                <div class="left-container-info-details-icon">
                                    <fa-icon [icon]="faTruck"></fa-icon>
                                </div>
                                <div class="left-container-info-details-status">{{ transaction.status }}</div>
                            </div>
                        </div>
                        <div class="left-container-box-price">
                            <span>{{ transaction.totalPrice | currency:'VND' }}</span>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="completed">
                <div class="left-container-completed-box" *ngFor="let transaction of transactions; let i = index">
                    <div class="completed-box" (click)="selectTransaction(transaction)"
                        *ngIf="transaction.status === 'completed'">
                        <div class="left-container-box-info">
                            <div class="left-container-info-name">
                                <span>Task #000{{ i + 1 }}</span>
                            </div>
                            <div class="left-container-info-details">
                                <div class="left-container-info-details-icon"><fa-icon [icon]="faKitchenSet"></fa-icon>
                                </div>
                                <div class="left-container-info-details-status">{{ transaction.status }}</div>
                            </div>
                        </div>
                        <div class="left-container-box-price">
                            <span>{{ transaction.totalPrice | currency:'VND' }}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="right-container">
        <div class="right-container-information">
            <div class="right-container-info-status">
                <div class="circle">
                    <div class="ui-widgets">
                        <div class="ui-values">25%</div>
                    </div>
                </div>
                <div class="status">
                    <div class="status-title">New</div>
                    <div class="status-details">Order execution starts automaticly</div>
                </div>
                <div class="user">
                    <div class="user-image"><img src="./../../assets/user.png" alt="profile-image"></div>
                    <div class="user-details">
                        Manager - Đình Long
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container-task-info">
            <div class="right-container-task-name">Task info</div>
            <div class="right-container-task-details">
                <div class="task-time">
                    <div class="line"></div>
                    <div class="task-time-title">Order time</div>
                    <div class="task-time-details">{{ selectedTransaction?.dateOrder }}</div>
                </div>
                <div class="task-address">
                    <div class="line"></div>
                    <div class="task-address-title">Address</div>
                    <div class="task-address-details">Cẩm Lệ, Đà Nẵng</div>
                </div>
                <div class="task-phone">
                    <div class="line"></div>
                    <div class="task-phone-title">Đình Long</div>
                    <div class="task-phone-details">0123 456 789</div>
                </div>
                <div class="task-phone-image"><img src="./../../assets/phone.png" alt="phone-image"></div>
            </div>
        </div>
        <div class="right-container-data-box">
            <div class="right-container-data-box-ordered" *ngFor="let cart of selectedTransaction?.cartDetails">
                <div class="food-order-image"><img [src]="cart.image" alt="food image"></div>
                <div class="food-order-details">
                    <span class="order-name">{{ cart.foodName }}</span>
                    <span class="order-quantity">x{{ cart.quantity }}</span>
                    <span class="total-price">{{ cart.price | currency:'VND' }}</span>
                </div>
            </div>
        </div>
        <div class="right-container-ordered-total-price">{{ selectedTransaction?.totalPrice | currency:'VND' }}</div>
        <div class="right-container-control-button" *ngIf="delivery !== true && completed !== true"
            (click)="acceptOrder()">
            Accept Order
        </div>
    </div>
</div>